<section class="portfolio-container">
  <div class="text-content">
    <h2>Compétence 1</h2>
    <p>Description détaillée de la première compétence...</p>
  </div>

  <div class="proof-section">
    <h2>Preuve 1</h2>
    <div class="colonne">
      <div class="gauche">
<app-figure imageUrl="https://imgur.com/e8f0UV7.jpg" legend="Figure 1.1.1 : Première ébauche de l'interface " aligne="left"></app-figure>
      <app-figure imageUrl="https://imgur.com/yoOG7sS.jpg" legend="Figure 1.1.2 : Exemple d'une autre interface déjà développée" aligne="left"></app-figure>
      <app-figure imageUrl="https://i.imgur.com/kqLu9NX.jpg" legend="Figure 1.1.3 : Interface d'action de communication" aligne="left"></app-figure>

      </div>
      <div class="droit">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore beatae ratione suscipit aut quasi dolore nostrum repudiandae quia nesciunt laboriosam. Esse nesciunt necessitatibus, nobis qui ipsum dolor enim ullam tenetur!</p>

      </div>


    </div>
  </div>

  <div class="proof-section">
    <h2>Preuve 2</h2>

    <div class="colonne">
      <div class="gauche">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed consectetur neque, molestiae, cupiditate, sint possimus suscipit omnis modi labore iure ad repellat quod iste ipsa dolorum. A voluptatibus illo facilis.</p>
      </div>
      <div class="droit">
        
      <app-figure imageUrl="https://imgur.com/iDPTneD.jpg" legend="Illustration 4" aligne="left"></app-figure>
    
      </div>
    </div>
  




    
  </div>

  <div class="proof-section">
    <h2>Preuve 3</h2>
        <div class="colonne">
      <div class="gauche">
        <app-figure imageUrl="https://imgur.com/HFgZnMB.jpg" legend="Illustration 5" aligne="right"></app-figure>
      </div>
      <div class="droit">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis obcaecati labore voluptas incidunt asperiores. Vel in cumque exercitationem, molestias iure, dolorem consequuntur quas porro veniam voluptatem explicabo sequi saepe obcaecati!</p>
      </div>
    </div>


    
      
    
  </div>
</section>
